doctype html
html(lang="en")
	head
		title= title
		meta(charset="utf-8")
		style(type="text/css").
			body { padding-top: 70px; }
			.github-ribbon > img { position: fixed; top: 0; right: 0; border: 0; z-index: 9999; }
			#love { background-color: black; }

		//- Bootstrap
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		script(src="https://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

		//- Javascript
		script(src="love/love.js" type="text/javascript" charset="utf-8" defer="true")
		each src in scripts
			script(src=src type="text/javascript" charset="utf-8" defer="true")
		// Asynchronously loaded scripts are below this comment.

	body
		nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
			.container-fluid
				.navbar-header
					.navbar-brand Webtoys
					p.navbar-text by Manuel Blanc

		a.github-ribbon(href="https://github.com/manuelblanc/webtoys")
			img(src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png")


		.container
			.media
				.pull-left
					canvas#love(width="800" height="600")
						.alert.alert-danger <strong>Error</strong> HTML5 canvas is not supported in this browser.
				noscript
					.alert.alert-danger <strong>Error</strong> JavaScript is not enabled.
				.media-body
					h2.media-heading= title
					!= description
