extends ./_custom_layout.jade

block stylesheets
	link(rel="stylesheet" href="/main.css")

block body
	h1 Michis.Me
	ul
		li
			a(href="/markov") Markov
		li
			a(href="/menedo") Menedo
		li
			a(href="/notas") Notas
		li
			a(href="/webtoys") Markov
		li
			a(href="/markov") Markov
		li
			a(href="/webtoys/conway") Conway
		li
			a(href="/webtoys/spline") Spline
		li
			a(href="/webtoys/starfield") Starfield
		li
			a(href="/webtoys/wave ") Wave