extends ../_custom_layout.jade

block scripts
	script(defer src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.js')
	script(defer src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js')
	script(defer src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.1/lodash.js')
	script(defer src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/codemirror.js')
	script(defer src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/mode/javascript/javascript.js')

	script(defer src='app.js')

block stylesheets
	link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css')
	link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.12.0/codemirror.css')
	link(rel='stylesheet' href='style.css')


block body
	.container
		.controls
			button#play
				span.fa.fa-play
			button#step
				span.fa.fa-step-forward
			button#reset
				span.fa.fa-undo
		svg
		textarea#graphJSON
			include ./markov.json
